sfml-2.6.0
mingw64
.vscode
dump
test
Fonts
main.exe
sfml-audio-2
sfml-audio-d-2
sfml-graphics-2
sfml-graphics-d-2
sfml-network-2
sfml-network-d-2
sfml-system-2
sfml-system-d-2
sfml-window-2
sfml-window-d-2
openal32